.cardBorder {
    width: calc(2.48 * 100px);
    height: calc(3.46 * 100px);
    border: 5px solid #FCCD12;
    border-radius: 5px;
}

.cardTitle {
    padding-left: 1em;
    font-weight: bold;
}

.cardImage
{
    width: 100%;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}