.cardBorder {
    width: calc(2.48 * 127px);
    height: calc(3.46 * 127px);
    border: calc(.10 * 127px) solid #FCCD12;
    border-radius: 5px;
}

.cardTitle {
    padding-left: 1em;
    font-weight: bold;
}

.cardImage
{
    width: 100%;
    height: calc(1.45 * 127px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}