.mainHeader {
    background: #000;
    color: #FFF;
    border-bottom: 1px solid #555;
    padding: 0.25em 0em 0.25em 1em;
    margin-bottom: 0.5em;
}

.mainHeader > h1 {
    margin: 0;
}

.mainHeader > nav {
    display: flex;
    flex-flow: row nowrap;
}

.mainHeader > nav > div {
    display: inline-block;
}